@use "../abstracts/variables" as *;

.category-tag {
  padding: .5rem 1rem;
  font-size: $font-size-xs;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $white-100;
  border: 2px solid $white-100;
  border-radius: $border-radius-xl;
  text-decoration: none;
}