@use "../abstracts/variables" as *;

.home-feed{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
  background-image: linear-gradient(120deg, $white-10, $white-5);
  border: 1px solid $white-10;
  border-radius: 2rem;

  @include respond-to('laptop') {
    grid-template-columns: repeat(6, 1fr);
  }

  &__pinned, &__trending, &__latest{
    align-items: center;
    grid-column: 1 / -1;
  }

  &__pinned{
    @include respond-to('laptop') {
      grid-column: 1 / 5;
    }
  }

  &__trending{
    @include respond-to('laptop') {
      grid-column: 1 / 5;
    }

    .trending-posts{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(8, auto);
      gap: 1rem;

      @include respond-to('mobile-lg') {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
      }
    }
  }

  &__latest{

    .latest-posts{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto 1fr;
      gap: 1rem;

      @include respond-to('tablet') {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-to('laptop') {
        grid-template-columns: 1fr;
      }
    }

    @include respond-to('laptop') {
      grid-column: 5 / -1;
      grid-row: 1 / 3;
    }
  }
}