@use "../abstracts/variables" as *;

.post-card-md {
  position: relative;
  background: radial-gradient(circle at top left, $white-20, transparent 80%);
  border: 1px solid $white-10;
  border-radius: 1rem;
  overflow: hidden;

  display: grid;
  grid-column: span 2;
  grid-row: span 2;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  //grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(6, auto);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px; // Gradient border thickness
    background:
      radial-gradient(circle at bottom right, $color-brand-blue, transparent 15%),
      linear-gradient(rgba(255, 255, 255, 0.05) 0 0);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
  }

  &__image-link {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &__meta {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    display: grid;
    align-content: space-between;
    gap: 3rem;
    padding: 0 1rem 1rem;

    a{
      display: block;
      //grid-column: 1 / -1;
      //grid-row: 2 / 4;

      h2 {
        font-size: $font-size-lg;
      }
    }

    &__footer {
      //grid-column: 1 / -1;
      //grid-row: 6 / -1;
      display: flex;
      justify-content: space-between;
      font-size: $font-size-xs;
    }
  }
}
