@use "../abstracts/variables" as *;

.site-footer {
  position: relative;
  width: 100%;
  height: 960px;
  font-size: $font-size-xs;
  overflow: hidden;
  background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .85) 100%);


  main, aside{
    display: flex;
    padding: 0 1rem;

    ul{
      display: flex;
      padding: 0;
      
      li{
        list-style-type: none;
      }
    }
  }

  main{
    border: 1px solid red;
  }

  aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
  }

  .bg-image{
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 150%;
    min-width: 500px;
    max-width: 2500px;
    transform: translate(-50%, 0);
    z-index: -1;
  }
}